[submodule "SOMns"]
	path = SOMns
	url = https://github.com/kjx/SOMns.git
[submodule "GraceLibrary"]
	path = GraceLibrary
	url = https://github.com/kjx/GraceLibrary.git
[submodule "kernan"]
	path = kernan
	url = https://github.com/kjx/kernan.git
